<ng-template [ngIf]="todoPage != null">
    <hr/>
     <div class="form-group">
        <label for="todoText">Todo Text:</label>
        <input type="text" class="span1" id="todoText"  [(ngModel)]="text">
        <a class="btn btn-success btn-xs" (click)=add() >Add</a>
      </div>
      
      <div id="list" class="row">
  
          <div class="table-responsive col-md-12">
              <table class="table table-striped" cellspacing="0" cellpadding="0">
                  <thead>
                  <tr>
                      <th><app-table-sort [table]="self" [page]="todoPage" [label]="'Text'" [property]="'text'" ></app-table-sort></th>
                      <th><app-table-sort [table]="self" [page]="todoPage" [label]="'Status'" [property]="'status'" ></app-table-sort></th>
                      <th class="actions">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
  
                  <tr *ngFor="let todo of todoPage.content">
                      <td>{{todo.text}}</td>
                      <td *ngIf="todo.status === 1">Pending</td>
                      <td *ngIf="todo.status === 2">Completed</td>
                      <td class="actions">
                          <a class="btn btn-danger btn-xs" (click)="currentTodo=todo" data-toggle="modal" data-target="#delete-modal">Delete</a>
                          <a class="btn btn-success btn-xs" (click)=markCompleted(todo) >Mark As Completed</a>
                      </td>
                  </tr>
  
                  </tbody>
              </table>
          </div>
  
      </div> <!-- /#list -->
  
      <app-table-pagination [table]="self" [page]="todoPage"></app-table-pagination>
  
      <!-- Modal -->
      <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="modalLabel">Delete todo</h4>
                  </div>
                  <div class="modal-body">
                      Do you want to remove this item ?
                  </div>
                  <div class="modal-footer">
                      <button type="button" (click)="delete(currentTodo)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">No</button>
                  </div>
              </div>
          </div>
      </div>
  
  </ng-template>
  